.absbase { position: relative; }
.margin { margin: 1px; }
.overlay { position: absolute; top:0px; left:0px;}
.border { border: 2px solid black; }
.opacity { opacity: 0.5; }
.float-left { float:left; }

html { font-size: 32px; }
body { background: gray; }
div.clearleft { clear: left; }
span.span1 { font-size: 2rem; }
span.span2 { font-size: 0.5rem; }
div.box { width: 100px; height: 50px; }
div.box1 { background: rgb(255,100,100); }
div.box2 { background: rgba(255,100,100,.4); }
div.box3 { background: hsla(210,100%,50%,.7); }
div.box4 { background: hsla(210,100%,40%,.7); }
a[href^='http'] { color: orange; }
a[href$='.com'] { font-weight: bold; }
a[href*='oo'] { font-size: 0.5rem; }

div.transl1 { -webkit-transform: translate(20px,10px); }
div.transl2 { -webkit-transform: scale(.9,1.1); }
div.transl3 { -webkit-transform: skew(10deg,20deg); }
div.transl4 { -webkit-transform: rotate(10deg); }
div.transl5 { -webkit-transform: rotate(10deg); transform-origin: 10px 20px;}
div.transl6 { -webkit-transform: rotate(10deg); transform-origin: 25% 25%;}

div.transi { transition-property: all; transition-duration: 5s; transition-delay:0.2s; }
div.transi-linear { transition-timing-function: linear; }
div.transi-ease { transition-timing-function: ease; }
div.transi-ease-in { transition-timing-function: ease-in; }
div.transi-ease-out { transition-timing-function: ease-out; }
div.transi-ease-in-out { transition-timing-function: ease-in-out; }
div.transi:hover { width: 90px; height: 100px; background: blue; }

div.anim {
  -webkit-animation-name: slidein;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
}

@-webkit-keyframes slidein {
  0%   { margin-left:100%; background:darkblue; }
  90%  { margin-left:50%; background:blue; -webkit-transform:rotate(45deg); }
  100% { margin-left:0%; background:skyblue; -webkit-transform:rotate(90deg); }
}

